.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0s;
}

.modal.active {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 30px;
    border-radius: 16px;
    background-color: #fff;
    height: 700px;
    width: 540px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal_img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0;
}

.modal__name {
    font-family: Inter,sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px;
    margin-bottom: 15px;
}

.modal__score {
  margin-bottom: 15px;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}

.modal__bio {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    Line-height: 100%;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 130px;
    color: #00000080;
}

.modal__button {
    height: 40px;
    width: 480px;
    border-radius: 8px;
    Effect: Drop shadow;
    Offset: 0, 16px;
    color: rgba(0, 0, 0, 0.60);
}

.modal__button:hover {
    background: linear-gradient(0deg, rgba(221, 159, 66, 0.12), rgba(200, 159, 66, 0.12)),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
}