* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  text-align: center;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 63px;
  font-style: normal;
  text-align: start;
  padding-left: 200px;
}

.modal {
  height: 100px;
  width: 100px;
}

.loading {
  font-family: Inter,sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);

  width: 1040px;
  height: 140px;
  border-radius: 16px;
  box-shadow: 0 16px 32px 0 #0000001F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
