.form {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1040px;
    font-family: Inter, sans-serif;
    font-weight: 300;
    height: 72px;
    border: 1px solid silver;
    padding-left: 40px;
    padding-right: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
}

@media (max-width: 390px) {
    .form {
        width: 100%;
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0;
        text-align: left;

    }
}

.form__input {
    border: none;
    background-color: inherit;
}

.form__input:hover {
    border: none;
    background: transparent;
}