.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 24px;
    border-radius: 5px;
    width: 1040px;
    height: 72px;
    border: 1px solid silver;
}

@media (max-width: 375px) {
    .player {
        width: 100%;
        font-family: Inter,sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
}

.img {
    height: 40px;
    border-radius: 50%;
}